azure-identity
azure-monitor-opentelemetry
azure-search-documents
azure-core
azure-storage-blob
fastapi
firecrawl-py
langchain
openai
pydantic
python-dotenv
langchain-community
langchain-openai
langgraph
langsmith
opentelemetry-instrumentation-fastapi
pandas
psycopg2-binary
pypdf
redis
sqlalchemy
requests
streamlit
uvicorn
yt-dlp

